.NoteItem__container {
  width: 340px;
  border: solid 1px gray;
  border-radius: 0.3em;
  padding: 0.5em;
  display: inline-block;
  cursor: pointer;

  .NodeItem__container__div {
    float:left;
    width: 80%;
  }
  h2 {
    
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  .btnDelete{
    float:right;
    width: 10%;
    border: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}